body{
    overflow: hidden;
    text-align: center;
    background-image: url("./background.jpeg");
    background-size: 100% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.middle{
  margin-top: 10vh;
}

#your-text{
    color: rgb(255,255,255);
}
#dealer-text{
  position: relative;
  color: rgb(255,255,255);
}

#dealer-cards img, #your-cards img {
  height: 20vh; 
  width: 7vw;
  margin: 0.2vw;/
}

#hit, #stay, #restart, #bet50, #bet150, #bet250, #betAllIn {
  width: 10vw;  
  height: 5vh;  
  font-size: 2vh; 
  position: relative;
  top: 5vh;
}

/* CSS */
#hit,#stay,#restart,#bet50,#bet150,#bet250,#betAllIn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}


#hit:before,#stay:before,#restart:before,#bet50:before,#bet150:before,#bet250:before,#betAllIn:before,
#hit:after,#stay:after,#restart:after,#bet50:after,#bet150:after,#bet250:after,#betAllIn:after {
  border-radius: 30px;
}

#hit:before,#stay:before,#restart:before,#bet50:before,#bet150:before,#bet250:before,#betAllIn:before {
  background-image: linear-gradient(92.83deg, #000000 0%, #000000 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

#hit:after,#stay:after,#restart:after,#bet50:after,#bet150:after,#bet250:after,#betAllIn:after {
  background-color: initial;
  background-image: linear-gradient(#ff0000 0, #ff0000 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

#hit:hover:not(:disabled):before,#stay:hover:not(:disabled):before,#restart:hover:not(:disabled):before,#bet50:hover:not(:disabled):before,#bet150:hover:not(:disabled):before,#bet250:hover:not(:disabled):before,#betAllIn:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgba(47, 255, 0, 0.608) 50%, rgba(47, 255, 0, 0.603) 50%);
}

#hit:hover:not(:disabled):after,#stay:hover:not(:disabled):after,#restart:hover:not(:disabled):after,#bet50:hover:not(:disabled):after,#bet150:hover:not(:disabled):after,#bet250:hover:not(:disabled):after,#betAllIn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

#numberInput{
  position: relative;
    width: 7vw;
    height: 61px;
    font-size: 2vh;
    border-style: solid;
    border-color: #000000;
    box-sizing: border-box;
    border-radius: 15px;
    border-width: 4px;
    background-color: #ff0000;
    color: antiquewhite;
    top: 5vh;
}
input::placeholder {
    color: white; /* Change this to your desired color */
  }

#results{
    margin-top: 3vh;
    color: rgb(255,255,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lblCredits{
    position: absolute;
    right: 23vw;
    top: 8vh;
    color: #00FF00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#lblBet{
    position: absolute;
    right: 23vw;
    top: 15vh;
    color: #00FF00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.middle-background {
    background-color: rgba(0, 0, 0, 0.7); /* Black background with 50% opacity */
    width: 60%; /* Adjust the width as needed */
    margin: auto; /* Center the div */
    padding: 20px; /* Optional: Add some padding */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow */
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu-btn {
  position: absolute;
  align-items: center;
  background-clip: padding-box;
  background-color: #ff0000;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: absolute; 
  left: 20vw; 
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  top: 5vh;
}

#menu-btn:hover,
#menu-btn:focus {
  background-color: #ff2020;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#menu-btn:hover {
  transform: translateY(-1px);
}

#menu-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}